@use '@/styles/abstracts' as *;

/*^ // ^======================== comment-form ========================^ // ^*/

.comment-form {
  display: flex;
  gap: const(15px);
  padding-inline: const(20px);
  padding-bottom: const(20px);
  padding-top: const(20px);
  border-top: const(1px) solid $lightGray;

  &__user-avatar {}

  &__input {
    font-size: const(14px);
    flex-grow: 1;
    width: 100%;
  }

  &__button {
    opacity: 0.8;
    transition: opacity 250ms;

    @media (hover:hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}