@use '@/styles/abstracts' as *;

/*$ // $======================== photos-grid ========================$ // $*/

.photos-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: const(10px);

  @media (max-width: $LAPTOP) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: $MOBILE) {
    grid-template-columns: repeat(3, 1fr);
    gap: mob(10px, 5px);
  }

  &__item {}

  &__upload-form {
    aspect-ratio: 1;
    grid-row: 1 / 4;
    grid-column: 3 / 6;

    @media (max-width: $LAPTOP) {
      grid-column: 2 / 5;
    }

    @media (max-width: $MOBILE) {
      grid-column: 1 / 4;
    }
  }
}