@use '@/styles/abstracts' as *;

/*^ // ^======================== upload-modal ========================^ // ^*/

.upload-modal {
  visibility: visible;
  opacity: 1;

  &__image-box {
    background-color: #fff;
    margin-bottom: const(30px);
  }

  &__scale {
    position: absolute;
    left: 50%;
    translate: -50%;
    top: const(10px);
  }

  &__effects {}

  &__effects-list {
    display: flex;
    justify-content: center;
    gap: const(5px);
  }
}