@use '@/styles/abstracts' as *;

/*^ // ^======================== upload-modal ========================^ // ^*/

.upload-modal {
  @include hide-scrollbar;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image-box {
    aspect-ratio: 1;
    margin-bottom: const(30px);
    overflow: clip;
    background-color: #fff;
    @include square(const(600px));

    @media (max-width: $TABLET) {
      @include square(tab(600px, 300px));
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__scale {
    position: absolute;
    left: 50%;
    top: const(10px);
    translate: -50%;
  }

  &__effects {
    margin-bottom: const(30px);
  }

  &__effects-list {
    display: flex;
    justify-content: center;
    gap: const(5px);
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: const(26px);
    width: 100%;
    margin-bottom: const(30px);
  }

  &__field-wrapper {
    position: relative;
  }

  &__field {
    padding-inline: const(10px);
    padding-block: const(5px);
    border: const(4px) solid transparent;
    border-radius: const(5px);
    background-color: #fff;
    transition: all 250ms;

    &:has(input:focus, textarea:focus) {
      border-color: $yellow;
    }

    &:has(textarea) {
      height: const(100px);
    }

    input,
    textarea {
      display: block;
      background-color: transparent;
      font-size: const(14px);
      @include square(100%);
    }
  }

  &__field-error {
    width: 100%;
    position: absolute;
    top: calc(100% + const(2px));
    background-color: $red;
    color: #fff;
    font-size: const(12px);
    text-align: center;
    text-transform: uppercase;
  }

  &__button {
    padding-inline: const(40px);
    padding-block: const(10px);
    border-radius: const(4px);
    background-color: rgba(255, 231, 82, 0.2);
    color: $yellow;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &:disabled {
      opacity: 0.6;
    }
  }

}