/** // *======================== fonts ========================* // **/

@font-face {
  font-family: OpenSans;
  src: url('../../public/fonts/OpenSans-Regular.woff') format('woff');
  src: url('../../public/fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSansCondensed';
  src: url('../../public/fonts/OpenSansCondensed-Bold.woff') format('woff');
  src: url('../../public/fonts/OpenSansCondensed-Bold.woff2') format('woff2');
}