@use './abstracts/' as *;

/** // *======================== GLOBAL ========================* // **/

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  transition: opacity 250ms;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: clip;
  font-family: OpenSans;
  line-height: 1.4;
}

.container {
  max-width: const(1440px);
  height: 100%;

  margin-inline: auto;
  padding-inline: desk(120px, 60px);

  @media (max-width: $LAPTOP) {
    padding-inline: lap(60px, 40px);
  }

  @media (max-width: $TABLET) {
    padding-inline: tab(40px, 16px);
  }

  @media (max-width: $MOBILE) {
    padding-inline: mob(20px, 16px);
  }
}

.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  background-color: $bg;
  padding-bottom: desk(120px, 60px);

  @media (max-width: $LAPTOP) {
    padding-bottom: lap(60px, 40px);
  }

  @media (max-width: $TABLET) {
    padding-bottom: tab(40px, 16px);
  }

  @media (max-width: $MOBILE) {
    padding-bottom: mob(20px, 16px);
  }
}

.modal {
  display: block;
  max-width: calc(100% - 25px);
  max-height: calc(100% - 25px);
  margin: auto;
  padding-inline: const(50px);
  position: fixed;
  inset-block-start: 0;
  inset-block-end: 0;
  z-index: $modalZIndex;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  background-color: transparent;
  transition: all 250ms;
  user-select: text;

  &._open {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: $MOBILE) {
    padding-inline: 0;
    padding-top: 50px;
  }
}