@use '@/styles/abstracts' as *;

/*^ // ^======================== filter ========================^ // ^*/

.filter {
  &__list {
    display: flex;
    gap: const(4px);
    padding-block: const(20px);
    justify-content: center;
  }

  &__item {}

  &__button {
    
  }
}