@use '@/styles/abstracts' as *;

/*^ // ^======================== sorting ========================^ // ^*/

.sorting {
  &__list {
    display: flex;
    gap: const(4px);
    padding-block: const(20px);
    justify-content: center;
  }

  &__item {}

  &__button {}
}