@use '@/styles/abstracts' as *;

/*^ // ^======================== modal ========================^ // ^*/

.modal {
  display: block;
  max-width: calc(100% - 25px);
  max-height: calc(100% - 25px);
  margin: auto;
  padding-inline: const(50px);
  position: fixed;
  inset-block-start: 0;
  inset-block-end: 0;
  z-index: $modalZIndex;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  background-color: transparent;
  transition: all 250ms;
  user-select: text;

  &._open {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: $MOBILE) {
    padding-inline: 0;
    padding-top: 50px;
  }

  &__close-button {
   
  }

  &__inner {
    max-width: const(600px);
    background-color: #fff;
  }

  &__image {
    width: 100%;
    height: auto;
  }
}